.container{
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 99;
}
.navbar{
	width: 100%;
	font-size: 15px;
	display: flex;
	font-weight: 700;
}
.navbar--long{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar__left{
	display: flex;
	list-style-type: none;
}
.navbar__left__item{
	margin: 0px 17px;
	display: block;
	text-align: center;
	padding: 40px 0;
	text-decoration: none;
}
.navbar__left__item--rewards{
	border-bottom: 4px solid #00754A;
}
.item--block{
	width: 49px;
	height: 49px;
	margin-left: 4rem;
	padding: 0;
	align-self: center;
}
.navbar__right{
	display: flex;
	list-style-type: none;
}
.navbar__right__item--store{
	margin-right: 30px;
	align-self: center;
	text-decoration: none;
}
.navbar__right__item--store:hover,
.navbar__left__item:hover{
	color: #00754A;
}
.fa-map-marker-alt{
	margin: 0;
}
.item--border{
	margin: 0px 10px;
	width: 93px;
	height: 32px;
	padding: 7px 14px;
	border-radius: 50px;
	text-align: center;
}
#SignIn{	
	border-style: solid;;
	border-width: 1px;
}
#JoinNow{
	border-width: 0px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}
#SignIn:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
#JoinNow:hover{
	background-color: rgba(0, 0, 0, 0.8);
}
.menu--btn{
	display: none;
}
.header{
	width: 100%;
	height: 50px;
	background-color: #182E28;
	display: flex;
	align-content: center;
}
.header__title{
	color: #fff;
	margin: auto;
	margin-left: 13.1rem;
}
.header__secondary{
	width: 100%;
	height: 75.8rem;
	background-color: #d4e9e3;
	background-image: url(./img/xl-hero-desktop_2021.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.header__secondary__detail{
	padding: 27rem 0 0 4rem;
}
.header__secondary__detail__item{
	font-size: 19px;
}
a.header__secondary__detail__item{
	text-decoration: none;
	display: block;
}
.header__secondary__detail__item>a:hover{
	text-decoration: none;
}
.header__secondary__detail__item + .header__secondary__detail__item{
	margin-top: 30px;
}
.header__secondary__detail__item--header{
	font-size: 36px;
	font-weight: 700;
}
.header__secondary__detail__item.item--border.text--base{
	border-width: 0px;
	background-color: #00754A;
	color: #d4e9e3;
	font-size: 14px;
	font-weight: 700;
}
.contentColumn{
	margin: auto;
	margin-top: 130px;
	width: 90%;
	display: flex;
	flex-direction: column;
}
.contentColumn__header{
	margin: auto;
}
.contentColumn__header__title{
	font-size: 27px;
	font-weight: 700;
}
.contentColumn__header__description{
	margin-top: 30px;
}
.contentColumn__columns{
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}
.contentColumn__columns__item{
	height: 240px;
	display: flex;
	margin: 0 24px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.contentColumn__columns__item>img{
	width: 50px;
	height: 50px;
}
.contentColumn__columns__item__text{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 16px;
	word-spacing: 1.5px;
}
.contentColumn__columns__item__text--small{
	display: none;
}
.contentColumn__columns__item__text__key{
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 18px;
}
.contentColumn__columns__item__description--link{
	color: #00754A;
	text-decoration: underline;
}
.contentColumn__columns__item__description--link:hover{
	text-decoration: none;
}
.selection{
	margin-top: 8.5rem;
}
.selection__header{
	background-color: #f1f8f5;
}
.selection__header__title{
	padding: 50px 0 65px 0;
	font-size: 27px;
	font-weight: 700;
	text-align: center;
}
.seletion__header__prices{
	margin: 0 auto;
	width: 54rem;
	font-size: 27px;
	font-weight: 700;
	display: flex;
	justify-content: space-around;
}
.seletion__header__prices__item{
	list-style-type: none;
	padding: 0 5px;
	border-bottom: 2px solid #F1F8F5;
}
.seletion__header__prices__item:after{
	content: "★";
	color: #cba258;
}
.seletion__header__prices__item:hover{
	border-color: #00754A;
}
.selection__dicription{
	padding: 0 19%;
	height: 27.5rem;
	background-color: #D4E9E2;
	display: flex;
}
.selection__dicription--disappear{
	display: none;
}
.selection__dicription__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.selection__dicription__content__title{
	font-size: 25px;
	font-weight: 700;
	line-height: 1.5;
}
.selection__dicription__content__exp{
	padding-top: 10px;
	font-size: 18px;
	line-height: 1.5;
}
.benefits{
	margin-top: 125px;
}
.benefits__header{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.benefits__header__title{
	font-size: 27px;
	font-weight: 700;
}
.benefits__header__detail{
	padding-top: 15px;
	font-size: 16px;
	line-height: 1.5;
}
.benefits__examples{
	margin-top: 45px;
	display: flex;
	justify-content: space-evenly;
}
.benefit{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 34.5rem;
}
.benefit__p{
	margin: 12px 0;
	text-align: center;
}
img.benefit__p{
	width: 11.2rem;
	height: 11.2rem;
}
.benefit__p--title{
	font-size: 18px;
	font-weight: 700;
}
.benefit__p--decription{
	font-size: 15px;
	font-weight: 530;
	line-height: 1.5;
}
.benefit__p--more{
	font-size: 15px;
	color: rgb(0, 98, 65);
	text-decoration: underline;
}
.benefit__p--more:hover{
	text-decoration: none;
}
.star{
	margin-top: 115px;
	background-color: #F2F0EB;
	padding-bottom: 30px;
}
.star__header{
	margin: 0 auto;
	width: 40%;
	text-align: center;
}
.star__header--title{
	padding: 40px 0 25px 0;
	font-size: 27px;
	font-weight: 700;
}
.star__header--detail{
	font-size: 15px;
	line-height: 1.5;

}
.star__body{
	margin-top: 90px;
}
.star__body__obj{
	display: flex;
}
.star__body__obj--separate{
	width: 94%;
	border-top: 1px solid #ccc;
	margin: 0 auto;
	margin-bottom: 50px;
}
.star__body__obj__item{
	width: 42.2rem;
}
.star__body__obj--num{
	width: 30rem;
	padding-left: 4rem;
	line-height: 1.5;
	font-size: 15px;
}
.star__body__obj--num::first-line{
	font-size: 22px;
	font-weight: 700;
}
.star__body__obj--benefit{
	display: flex;
}
.star__body__obj--benefit>img{
	min-width: 112px;
	height: 158px;
}
.star__body__obj--benefit__p{
	margin-left: 15px;
	width: 23.5rem;
	font-size: 15px;
}
.star__body__obj--benefit__p::first-line{
	font-size: 19px;
	font-weight: 700;
	line-height: 2;
}
.star__body__obj--benefit__p>a{
	color: #00754A;
}
.star__body__obj--benefit__p>a:hover{
	text-decoration: none;
}
.valign-middle{
	transform: translateY(25%);
}
.code{
	margin: 115px 0 0 250px;
}
.code__header{
	font-size: 15px;
}
.code__header::first-line{
	font-size: 27px;
	font-weight: 700;
	line-height: 2.5;
}
.code__body{
	margin-top: 35px;
}
.code__body--in{
	width: 64.5rem;
	height: 5rem;
	border-radius: 10px;
	border: 1px solid #ccc;
	font-size: 21px;
}
.code__body--in::placeholder{
	color: #212121;
}
.code__body--check{
	display: block;
	width: 9rem;
	height: 3.5rem;
	margin: 20px 0 0 54.5rem;
	border: 1px solid #000;
	border-radius: 16px;
	background-color: #fff;
	font-size: 17px;
	font-weight: 600;

}
.code__footer{
	margin-top: 30px;
	font-size: 15px;
	line-height: 1.5;
}
.code__footer>a{
	color: #00754A;
}
.code__footer>a:hover{
	text-decoration: none;
}
.questions{
	margin: 115px 0 0 250px;
	font-size: 15px;
}
.questions::first-line{
	font-size: 27px;
	font-weight: 700;
	line-height: 2.5;
}
.questions>a{
	color: #00754A;
}
.questions>a:hover{
	text-decoration: none;
}
.app{
	margin-top: 150px;
	padding: 50px 0 40px 0;
	background-color: #F9F9F9;
}
.infor{
	width: 90%;
	margin: 0 auto;
}
.infor__header{
	font-size: 15px;
	margin-bottom: 50px;
}
.infor__block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.infor__block__item{
	font-size: 15px;
	width: 49%;
}
.infor__block__item__title{
	color: rgba(0, 0, 0, 0.58);
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}
.infor__block__item__p{
	margin-bottom: 17px;
	font-size: 15px;
	line-height: 1.2;
}
.infor__block__item__p>a{
	color: #00754A;
}
.infor__block__item__p>a:hover{
	text-decoration: none;
}
.footer{
	margin-top: 50px;
	padding-top: 50px;
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.08);
}
.columns{
	margin-left: 4rem;
	display: flex;
}
.column{
	display: flex;
	flex-direction: column;
	width: 19rem;
}
.column + .column{
	margin-left: 3rem;
}
.column--header{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 35px;
}
.column>a{
	font-size: 15px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.58);
	margin-bottom: 25px;
}
.ruler{
	width: 94%;
	margin: 10px auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.general{
	margin-top: 50px;
}
.general__icons{
	width: 94%;
	margin: 0 auto;
	font-size: 30px;
}
.general__icons>a{
	text-decoration: none;
	padding-right: 10px;
}
.general__rules{
	width: 94%;
	margin: 20px auto;
	display: flex;
	font-size: 17px;

}
.general__rules__item>a{
	text-decoration: none;
}
.general__rules__item + .general__rules__item{
	margin-left: 4rem;
}
.general__rules__item--sparate::after{
	content: '';
	border-right: 1px solid #000;
	padding: 0 2rem;	
}
.general__company{
	width: 94%;
	margin: 0 auto;
	font-size: 14px;
	margin-bottom: 25px;
}
@media screen and (max-width: 790px){
	.navbar--long>ul>a {
		display: none;
	}
	.navbar__left{
		padding: 10px 0;
	}
	.menu--btn{
		display: block;
		padding-right: 20px;
		font-size: 44px;
		color: #AAAAAA;
	}
	.contentColumn__columns{
		flex-direction: column;
	}
	.contentColumn__columns__item{
		flex-direction: row;
	}
	.contentColumn__columns__item__text{
		margin-left: 10px;
		text-align: left;
	}
	.contentColumn__columns__item__text--big{
		display: none;
	}
	.contentColumn__columns__item__text--small{
		display: flex;
	}
	.seletion__header__prices{
		width: 100%
	}
	.selection__dicription{
		height: auto;
		padding: 0;
		flex-direction: column;
	}
	.selection__dicription__content{
		text-align: center;
	}
	.selection__dicription__content__title{
		font-size: 19px;
	}
	.selection__dicription__content__exp{
		font-size: 15px;
		padding: 5px 15px;
	}
	.benefits__examples{
		flex-direction: column;
	}
	.benefit{
		flex-direction: row;
		width: 94%;
		margin: 0 3%;
	}
	.benefit>img{
		width: 112px;
		height: 112px;
	}
	.benefit__p{
		margin-left: 10px;
		text-align: left;
	}
	.star__header{
		width: 90%;
	}
	.star__body__obj{
		flex-direction: column;
	}
	.star__body__obj--benefit {
		width: 90%;
		margin: 0 auto;
	}
	.star__body__obj--benefit__p{
		width: auto;
	}
	.code{
		margin: 0 5%;
	}
	.code__body--check{
		width: 68px;
		height: 23px;
	}
	.questions{
		margin: 115px 5% 0 5%;
	}
} 